* {
  margin: 0;
  padding: 0;
}

:root {
  --primary: rgb(63, 128, 189);
  --secondary: rgb(255, 255, 255);
  --bg: rgb(189, 185, 185);
  --bg-secondary: rgb(96, 216, 120);
}

/*** Google Fonts: font-family: 'Lato', sans-serif;  ***/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

body {
  font-family: 'Lato', sans-serif; 
}

/**** Header *****/
header {
  background-color: var(--primary);
  color: var(--secondary);
  text-transform: uppercase;
  font-weight: 600;
  padding: 1.75rem;
}

/****** Section******/
section {
  padding: 2rem;
}

form {
  border-radius: 2rem;
  box-shadow: -0.75rem 0.75rem 0.25rem var(--bg), 0.10rem -0.10rem 0.05rem var(--bg);
  margin-left: 3rem;
  padding: 3rem 1rem;

}

h1 {
  text-align: center;
  padding-bottom: 2.25rem;
}

label, input {
  display: block;
  padding: 1.25rem;
}

input{
  width: 60%;
  margin: 0rem 0rem 1.5rem 1rem;
  border-radius: 0.50rem;
}

select {
  height: 2rem;
  width: 65%;
  margin-left: 1rem;
  border-radius: 0.50rem;
}

p {
  padding: 1rem;
}

/* Opciones botón radio*/
.opcion2 {
  display: inline;
  margin: 0rem 0rem 0rem 0rem;
  margin-top: 1rem;
  width: 10%;
}

.opcion {
  display: inline;
  margin-right: 85%;
  padding: 0rem;
  width: 5%;
}

.opcion4 {
  display: inline;
  margin: 0rem 0rem 0rem 0rem;
  margin-top: 1.5rem;
  width: 5%;
}

.opcion3 {
  display: inline;
  margin-top: 1rem;
  width: 100%;
  
}

/* Botón enviar*/
button {
  background-color: var(--primary);
  border-radius: 0.25rem;
  border: none;
  color: var(--secondary);
  display: block;
  margin: 2rem 1rem; 
  padding: 1rem; 
}

button:hover {
  background-color: var(--bg-secondary);
}